CONTENT_00/*
CONTENT_02/*
CONTENT_03/*
CONTENT_04/*
CONTENT_05/*
CONTENT_06/*
CONTENT_07/*
CONTENT_08/*
CONTENT_BASE/*

sample/*

CONTENT_01/library

CONTENT_01/js_build/*
CONTENT_02/js_build/*
CONTENT_03/js_build/*
CONTENT_04/js_build/*
CONTENT_05/js_build/*
CONTENT_07/js_build/*
CONTENT_08/js_build/*
CONTENT_09/js_build/*

sample/*
UNMINIFY/*
MINIFY/*
CONTENT_02/library
CONTENT_02/index.html
sample
node_modules